/* .card {
    width: 65%;
    display: flex;
    flex-direction: column ;
    border: 1px red solid;
    align-content: center;
    margin: 10 auto;

} */

.card-header {
  height: 30%;
  /* background: #5d6770; */
  color: white;
  text-align: left;
}

.card-header p {
  font-size: 20px;
  color: rgb(22, 21, 21);
}

.card .container {
  margin-top: 1rem;
  font-size: 15px;
  margin-left: 3rem;
}

.card {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-reaius);
  padding: 60px;
  /* text-align: center; */
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.card:hover {
  box-shadow: none;
}

/* main .card .container .col{
    margin-left: -223px;
}

main .card .container .col-2{
    margin-left: -616px;
} */

.card .row .t1 {
  width: 30%;
}

.card .tt1 {
  margin-top: 10px;
}

.card .tt4 {
  margin-top: 173px;
}
